<server description="Sample Liberty server">

  <featureManager>
      <feature>jakartaee-8.0</feature>
      <feature>eventLogging-1.0</feature>
      <feature>requestTiming-1.0</feature>
  </featureManager>
  
  <variable name="default.http.port" defaultValue="9080"/>
  <variable name="default.https.port" defaultValue="9443"/>

  <httpEndpoint httpPort="${default.http.port}" httpsPort="${default.https.port}"
      id="defaultHttpEndpoint" accessLoggingRef="pdprofAccessLogging" host="*" />

  <httpAccessLogging id="pdprofAccessLogging"
		logFormat='%h %u %t "%r" %s %b %{remote}p %D %{JSESSIONID}C %{Set-Cookie}o' />

  <eventLogging logMode="entryExit" minDuration="1ms"/>

  <requestTiming slowRequestThreshold="5s" hungRequestThreshold="10m">
  </requestTiming>

  <logging  traceSpecification="com.ibm.ws.webcontainer*=all:com.ibm.wsspi.webcontainer*=all:HTTPChannel=all:GenericBNF=all:HTTPDispatcher=all"
      traceFileName="trace.log"
      maxFileSize="20"
      maxFiles="10"
      traceFormat="BASIC" />

  <quickStartSecurity userName="wsadmin" userPassword="passw0rd" />

  <application location="pdpro.20110516.ear" />
  <applicationManager autoExpand="true"/>
</server>
